#heading1{
    text-align: center;
    background-color: brown;
    line-height: 80px;
    color: blue;
}
.one{
    font-weight: bold;
    font-family: AnjaliOldLipi;

}
#team{

    background-color: blue;
    margin: 40px;
    padding: 30px;
    color: white;
    border-radius: 20px;

}
#team:hover{
    background-color: orange;
}
#product{
    display: flex;
    margin: 20px;

}
#image{

    margin-right: 30px;
    border-radius: 200px;
}
#two{
   display: flex;

}
#main{
   display: flex;

}
.myimage{
    width: 100%;
    height: 300px;
}
.sub{
    text-align: center;
    margin-left: 20px;
}
.sub h2{
    color: blue;
}
.sub button{
    background-color: crimson;
    padding: 20px;
    border-radius: 20px;
}